.profile__button-edit {
  position: absolute;
  background-image: url("../../../images/__button-edit.svg");
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  left: 312px;
  top: 38px;
  padding: 0;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.profile__button-edit:hover{
  opacity: 0.6;
}

@media screen and (max-width: 710px) {
  .profile__button-edit {
    position: absolute;
    top: 32px;
    left: 205px;
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 320px) {
  .profile__button-edit {
    top: 33px;
    left: 200px;
  }
}