.profile {
  display: flex;
  max-width: 880px;
  margin: 37px auto 0;
  color: #FFFFFF;
}

@media screen and (max-width: 1000px) {
  .profile {
    max-width: 90%;
  }
}

@media screen and (max-width: 720px) {
  .profile {
    max-width: 282px;
    margin: 42px auto 0;
    position: relative;
    flex-direction: column;
    align-items: center;
  }
}
