.place__button-heart {
  background-image: url("../../../images/__button-heart.svg");
  width: 26px;
  height: 19px;
  border: none;
  background-color: #FFFFFF;
  padding: 0;
  margin: 4px 0px 1px 0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.place__button-heart:hover {
  opacity: 0.5;
}

@media screen and (max-width: 550px) {
  .place__button-heart {
    margin: 2px 0px 1px 0;
  }
}
