.place__button-heart {
  background-image: url("../../../images/__button-heart.svg");
  width: 26px;
  height: 19px;
  border: none;
  background-color: #FFFFFF;
  padding: 0;
  margin: 5px 2px 1px 0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.place__button-heart:hover{
  opacity: 0.5;
}